<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>145536000163-8phmom211jutseskbb0nr0iipf0osaj2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.145536000163-8phmom211jutseskbb0nr0iipf0osaj2</string>
	<key>API_KEY</key>
	<string>AIzaSyDs1LBDvooSladWFqEPhYzBotFMYqOWWWE</string>
	<key>GCM_SENDER_ID</key>
	<string>145536000163</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.doejo.bandwwith</string>
	<key>PROJECT_ID</key>
	<string>bandwith-304510</string>
	<key>STORAGE_BUCKET</key>
	<string>bandwith-304510.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:145536000163:ios:129a61384400ca2dca1f16</string>
</dict>
</plist>